* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 6px 20px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}


.profile-wrapper {
  position: relative;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  color: black;
  width: 220px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: none;
}

.profile-dropdown p {
  font-size: 14px;
  margin-bottom: 6px;
}

.profile-dropdown hr {
  margin: 8px 0;
}

.profile-dropdown button {
  width: 100%;
  padding: 8px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.profile-dropdown button:hover {
  background: #dc2626;
}


.profile-dropdown.show {
  display: block;
}

.content {
  padding: 20px;
}

.sidebar {
  transition: width 0.3s ease;
  width: 202px;
  background-color: #f0f4ff;
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  overflow-y: auto;
  position: fixed;
  margin-top: 50px;
  overflow: visible;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 12px;
  cursor: pointer;
  color: #1e293b;
  transition: background 0.2s;
  font-size: 14px;
  gap: 2px;
}

.sidebar .menu-item:hover {
  background: #e6ecff;
  border-radius: 8px;
}

.menu-item:hover {
  background: none;
}

.menu-item.active {
  background: #1e293b;
  border-radius: 8px;
  font-weight: bold;
}

.sidebar .menu-item i {
  margin-right: 8px;
  min-width: 18px;
  text-align: center;
}

.sidebar .submenu {
  /* display: none; */
  flex-direction: column;
  margin-left: 32px;
}

.sidebar .submenu .menu-item {
  padding: 8px 20x;
  font-size: 14px;
  background-color: #e6ecff;
}

.submenu .menu-item,
.submenu a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}


.sidebar .menu-item.active {
  font-weight: 300;
  background: #1e293b;
  color: white;
}

.sidebar .new-badge {
  background-color: #007bff;
  color: #fff;
  font-size: 8px;
  padding: 3px 5px;
  border-radius: 4px;
  margin-left: 14px;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
}

#right-corner {
  margin-left: 13px;
}

.content {
  margin-left: 240px;
  padding: 30px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  margin-top: 70px;
}

.dashboard-header h1 {
  margin: 0;
  font-size: 22px;
}

.subtitle {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 4px;
}

.goal-tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.goal {
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.goal:hover {
  background: #f0f4ff;
  border-color: #4c8bf5;
  color: #1a4fd8;
}

.goal.active {
  background: #e8f1ff;
  border-color: #4c8bf5;
  color: #1a4fd8;
}

.dashboard-body {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 2px;
}

.progress-card {
  background: #fff;
  border: 1px solid lightgray;
  padding: 20px 14px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 95%;
}

.progress-item {
  margin-bottom: 11px;
  padding: 2px 5px;
}

.progress-item:hover {
  background: #f0f4ff;
  border-color: #4c8bf5;
  color: #1a4fd8;
  cursor: pointer;
  border-radius: 8px;
}

.bar {
  height: 6px;
  background: #eee;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 27px;
}

.bar div {
  height: 100%;
  background: #4c8bf5;
  border-radius: 10px;
}

.slider-card {
  background: linear-gradient(120deg, #eaf6ff, #fdebee);
  border-radius: 10px;
  padding: 30px;
  position: relative;
  height: 278px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slider button {
  margin-top: 72px;
  padding: 12px 12px;
  border: none;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

/* .progress-item {
  display: flex;
  flex-direction: column;
} */

.progress-item span:last-child {
  align-self: flex-end;
  font-size: 12px;
}


.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 6px;
}

.dot.active {
  background: #4c8bf5;
}

.progress-card h3 {
  margin-bottom: 23px;
  font-size: 11px;
  justify-self: center;
}

.percantage {
  position: relative;
  left: 89px;
}

.slider {
  display: flex;
}

button strong {
  color: green;
  margin-left: 40px;
}

.slide-left {
  padding-right: 110px;
}

.resume-build {
  font-size: 11px;
  background-color: #b3d4fc;
  font-weight: 600;
}

.slide-left h2 {
  margin-top: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}

.slide-left p {
  font-size: 12px;
  color: gray;
}

.slide-left {
  display: none;
}

.slide-left.active {
  display: block;
}


.tab-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.tab-content.active {
  display: block;
}

.tab-button {
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  background: #eee;
}

.tab-button.active {
  background: #ddd;
}

.dashboard-center {
  margin-top: 50px;
  /* padding: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-center h1 {
  font-size: 22px;
}

.dashboard-center p {
  font-size: 14px;
  color: #ccc;
}

.dashboard-center span {
  color: #4c8bf5;
  cursor: pointer;
}

.no-matches {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
}

.no-matches-icon img {
  width: 80px;
  margin-bottom: 20px;
}

.no-matches h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.no-matches p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.no-matches-buttons .btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
  font-size: 14px;
}

.no-matches-buttons .search {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.no-matches-buttons .change {
  background-color: #0a66c2;
  color: #fff;
}

.section-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.section-header h2 {
  font-size: 28px;
}

.explore-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.course-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.course-image {
  position: relative;
  height: 160px;
}

.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e6f0ff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

.course-content {
  padding: 15px;
}

.provider {
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
}

.course-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating {
  font-size: 14px;
  color: #f4b400;
}

.rating span {
  color: gray;
  margin-left: 5px;
}

.course-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 220px;
  margin-right: 15px;
}

.course-card {
  width: 320px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* IMAGE */
.course-img {
  position: relative;
  height: 180px;
  transition: all 0.4s ease;
}

.course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e6f0ff;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}

/* CONTENT */
.course-content {
  padding: 20px;
  transition: all 0.4s ease;
}

.provider {
  font-size: 13px;
  color: gray;
  margin-bottom: 4px;
}

.course-content h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.rating {
  font-size: 14px;
  color: #f4b400;
}

.rating span {
  color: gray;
  margin-left: 5px;
}

/* HIDDEN CONTENT */
.description,
.extra-info {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.course-card:hover {
  width: 650px;
  flex-direction: row;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  height: 235px;
}

.course-card:hover .course-img {
  width: 45%;
  height: auto;
}

.course-card:hover .course-content {
  width: 55%;
}

.course-card:hover .description,
.course-card:hover .extra-info {
  opacity: 1;
  max-height: 200px;
  margin-top: 15px;
}

#resumeContent,
#coverContent {
  transition: opacity 0.3s ease;
}

#resumeContent[style*="display: none"],
#coverContent[style*="display: none"] {
  opacity: 0;
}


.menu-item.active {
  background: transparent;
}

.menu-item:has(.submenu-item.active) {
  background: #1e293b;
  color: white;
  border-radius: 8px;
}

.submenu-item.active {
  background: #1e293b;
  color: white;
  font-weight: 600;
  border-left: 4px solid white;
}

.menu-item {
  position: relative;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}

.menu-item:hover {
  background: #333;
  color: #007bff;
}

/* Submenu */
.submenu {
  position: absolute;
  top: 0;
  left: 83%;
  background: #f0f4ff;
  width: 160px;
  /* display: none; */
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.25s ease;
  z-index: 1000;
  border: 1px solid lightgray
}

/* Show on hover */
.has-submenu:hover .submenu {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

.submenu .menu-item:hover,
.submenu a:hover {
  background: #e6ecff;
  color: #007bff;
}

.submenu-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.submenu-item:hover {
  background: #e6ecff;
}

.main-content {
  margin-left: 205px;
  padding: 80px 30px;
  background: #f5f7fa;
  min-height: 100vh;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header h1 {
  font-size: 30px;
  font-weight: 600;
}

.create-btn {
  background: #2b6cb0;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #1e4f8a;
}

.tabs {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.tabs span {
  margin-right: 25px;
  padding-bottom: 8px;
  cursor: pointer;
  color: gray;
  font-weight: 500;
}

.active-tab {
  color: #2b6cb0;
  border-bottom: 2px solid #2b6cb0;
}

.info-box {
  background: #e6f0fb;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.emoji-box {
  background: #ffd966;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
}

.start-btn {
  padding: 8px 16px;
  border: 1px solid #2b6cb0;
  background: white;
  color: #2b6cb0;
  border-radius: 6px;
  cursor: pointer;
}

.start-btn:hover {
  background: #2b6cb0;
  color: white;
}

.resume-section {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.resume-card {
  display: flex;
  gap: 20px;
}

.resume-preview {
  width: 200px;
  height: 260px;
  background: #e2e8f0;
  border-radius: 6px;
}

.resume-details h2 {
  font-size: 22px;
}

.update-text {
  font-size: 14px;
  color: gray;
  margin: 5px 0 15px;
}

.score-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.score-badge {
  background: #f56565;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
}

.resume-actions {
  list-style: none;
  padding: 0;
}

.resume-actions li {
  margin-bottom: 10px;
  cursor: pointer;
}

.resume-actions li i {
  margin-right: 8px;
  color: #2b6cb0;
}

/* New Resume */
.new-resume-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.plus-box {
  width: 200px;
  height: 260px;
  background: #edf2f7;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #a0aec0;
}

.new-text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.new-text p {
  color: gray;
  max-width: 250px;
}

.text-change h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.new-text {
  align-self: flex-start;
}



@media (max-width: 768px) {
  .emoji-box {
    background: #ffd966;
    padding: 6px;
    border-radius: 50%;
    font-size: 15px;
  }

  .text-change h3 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .text-change p {
    font-size: 12px;
  }

  .info-box {
    padding: 5px;
  }

  .resume-details h2 {
    font-size: 13px;
  }

  .score-badge {
    padding: 2px 7px;
  }

  .new-text p {
    font-size: 13px;
  }


  .new-text h3 {
    font-size: 18px;
  }

  .start-btn {
    display: none;
  }

  .page-header h1 {
    font-size: 18px;
  }

  .tabs span {
    font-size: 14px;
  }

  .create-btn {
    background: #2b6cb0;
    color: white;
    border: none;
    padding: 9px 8px;
  }

  .main-content {
    margin-left: 30px;
  }

  .dashboard-center {
    flex-direction: column;
    gap: 15px;
  }

  .progress-item {
    display: flex;
    flex-direction: column;
  }

  .progress-item span:last-child {
    align-self: flex-end;
    font-size: 12px;
  }

  .sidebar {
    width: 55px;
  }

  .content {
    margin-left: 48px;
  }

  .dashboard-body {
    grid-template-columns: 1fr;
  }

  .menu-item {
    justify-content: center;
    padding: 14px 0;
  }

  .menu-item .text {
    display: none;
  }

  .right-corner {
    display: none;
  }

  .new-badge {
    display: none;
  }

  .sidebar .menu-item i {
    margin-right: 16px;
  }

  .goal {
    font-size: 12px;
    padding: 9px 8px;
  }

  .subtitle {
    color: #ccc;
    font-size: 13px;
    margin-bottom: 7px;
  }

  .dashboard-header h1 {
    margin: 0;
    font-size: 18px;
  }

  .goal-tabs {
    gap: 8px;
  }

  .dashboard-body {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .progress-card {
    width: 100%;
    padding: 15px;
  }

  .progress-item span {
    font-size: 12px;
  }

  .bar {
    margin-left: 0;
  }

  .slider-card {
    padding: 20px;
    height: auto;
  }

  .slider {
    flex-direction: column;
  }

  .slide-left {
    padding-right: 0;
  }

  .slider-right {
    margin-top: 15px;
    text-align: center;
  }

  .slider-right img {
    width: 100%;
    max-width: 200px;
    height: 185px;
  }

  .slider button {
    width: 100%;
    margin-top: 20px;
  }

  button strong {
    margin-left: 10px;
  }

  .dashboard-center h1 {
    font-size: 16px;
  }

  .dashboard-center p {
    font-size: 12px;
    color: #ccc;
  }

  .courses-container {
    grid-template-columns: 1fr;

    gap: 15px;
  }

  .course-wrapper {
    margin-left: 82px;
    margin-right: 10px;
    justify-content: center;
    justify-content: center;
    gap: 20px;
    width: 316px;
    flex-direction: column;
  }

  .course-card {
    width: 100%;
  }

  .course-card:hover {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .course-card:hover .course-img,
  .course-card:hover .course-content {
    width: 100%;
    height: auto;
  }

  .course-card:hover .description,
  .course-card:hover .extra-info {
    max-height: none;
  }

  .section-header h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  #display_none {
    display: none;
  }
}



@media (min-width: 481px) and (max-width: 765px) {
  .section-header {
    flex-direction: column;
    gap: 10px;
    margin-left: 48px;
  }

  .new-text {
    align-self: center;
  }

  .course-wrapper {
    justify-self: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .courses-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .course-wrapper {
    justify-self: center;
    flex-direction: column;
  }


  .course-card {
    width: 100%;
  }

  .course-card:hover {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .course-card:hover .course-img,
  .course-card:hover .course-content {
    width: 100%;
    height: auto;
  }

  .dashboard-body {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .progress-card {
    width: 100%;
  }

  .slider {
    flex-direction: row;
  }

  .slide-left {
    padding-right: 60px;
  }

  .slider-right img {
    max-width: 220px;
    height: auto;
  }

  .section-header {
    flex-direction: column;
    gap: 10px;
    margin-left: 48px;
  }

  .main-content {
    margin-left: 220px;
    padding: 30px;
  }

  .resume-section {
    gap: 40px;
  }

  .resume-preview,
  .plus-box {
    width: 170px;
    height: 230px;
  }

}

@media (max-width: 900px) {

  .resume-section {
    flex-direction: column;
    gap: 40px;
  }

  .new-resume-card {
    flex-direction: row;
  }

}



@media (min-width: 1024px) and (max-width: 1380px) {
  .section-header {
    margin-left: 88px;
  }
}


@media (max-width: 480px) {
  .section-header {
    flex-direction: column;
    gap: 10px;
    margin-left: 60px;
  }

  .courses-container {
    grid-template-columns: 1fr;
    /* one column only */
    gap: 10px;
  }

  .course-card {
    width: 86%;
    font-size: 14px;
  }

  .course-card:hover {
    flex-direction: column;
    height: auto;
  }

  .course-card:hover .course-img,
  .course-card:hover .course-content {
    width: 100%;
    height: auto;
  }

  .section-header h2 {
    font-size: 18px;
  }
}