.distribution-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.left-panel {
    width: 60%;
    background: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    margin-top: 0px;
    margin: 0;
}

#realContent {
    margin-left: 220px;
    padding: 20px;
}

.left-panel h2 {
    margin-bottom: 15px;
    font-weight: 600;
}

.resume-box strong {
    font-size: 15px;
    font-weight: 100;
}

.resume-box small {
    color: #828ba2;
}

.resume-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-group {
    margin-top: 10px;
}

.btn-outline {
    border: 1px solid #828ba2;
    background: transparent;
    padding: 6px 12px;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600;
}

#eye {
    margin-right: 5px;
}

.btn-outline:hover {
    color: #007bff;
    border: 1px solid #007bff;
}

.info-box {
    background: #e9f4ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.form-grid {
    display: flex;
    gap: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 400;
    color: #828ba2;
}

input {
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
    background-color: #eff2f9;
}


@media (max-width: 1024px) {
    #realContent {
        margin-left: 180px;
        /* smaller sidebar */
    }

    .left-panel {
        width: 100%;
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {
    #realContent {
        margin-left: 0;
        padding: 15px;
    }

    .distribution-container {
        padding: 10px;
    }

    .left-panel {
        width: 100%;
        padding: 50px 10px;
        margin-left: 40px;
    }

    .form-grid {
        flex-direction: column;
    }

    input {
        padding: 10px;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .left-panel h2 {
        font-size: 18px;
    }

    label {
        font-size: 13px;
    }
}