.job-tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 80px 0px 12px 21px;
}

.tab {
    margin-right: 25px;
    padding-bottom: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #555;
}

.tab.active {
    border-bottom: 3px solid #2d8cff;
}


.board-header {
    margin-bottom: 15px;
    font-size: 12px;
    margin-top: 20px;
}

.board-header h1 {
    color: black;
}

.board-wrapper {
    padding-top: 24px;
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 40px 3px 40px 15px;
}

.board-wrapper::-webkit-scrollbar {
    display: none;
}


.board-column {
    min-width: 268px;
    border-radius: 12px;
    padding: 16px 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shortlist {
    background: #eaf4ff;
}

.shortlist .add-job {
    border: 1px solid #44a6f3;
    background: white;
    background-color: #eaf4ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #44a6f3;
}

.shortlist .add-job:hover {
    background-color: #c2e4fc;
}

.autoapply {
    background: #eef0ff;
}

.autoapply .add-job {
    border: 1px solid #daddfd;
    background: white;
    background-color: #eef0ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #696BA1;
}

.autoapply .add-job:hover {
    background-color: #daddfd;
}

.applied {
    background: #f5f2ea;
}

.applied .add-job {
    border: 1px solid #A6A197;
    background: white;
    background-color: #f5f2ea;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #696BA1;
}

.applied .add-job:hover {
    background-color: #A6A197;
}

.interview {
    background: #eef2ff;
}

.interview .add-job {
    border: 1px solid #daddfd;
    background: white;
    background-color: #eef0ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #696BA1;
}

.interview .add-job:hover {
    background-color: #daddfd;
}

.offer {
    background: #E7F4ED;
}

.offer .add-job {
    border: 1px solid #48ba75;
    background: white;
    background-color: #E7F4ED;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #48ba75;
}

.offer .add-job:hover {
    background-color: #c5e3d1;
}

.column-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
}

.count {
    color: #777;
}

.add-job {
    border: 1px dashed #aaa;
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}


.reject {
    background: #eff2f9;
}

.reject .add-job {
    border: 1px solid #daddfd;
    background: white;
    background-color: #eef0ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #696BA1;
}

.reject .add-job:hover {
    background-color: #daddfd;
}

.main-content-tracker {
    margin-left: 205px;
    background: #f5f7fa;
    min-height: 100vh;
}

.board-wrapper {
    scroll-behavior: smooth;
}

.dropdown-box {
    display: none;
    background: #f3f8ff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}


.dropdown-box.show {
    display: block;
}

.board {
    display: flex;
    gap: 15px;
}

.dropdown-box input {
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    border: none;
}

.column-header .add-job:hover{
    background: none;
}

.actions {
    display: flex;
    gap: 10px;
}

.continue {
    background-color: #0a66c2;
    color: #fff;
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    background: transparent;
    color: #0a66c2;
    border: none;
    cursor: pointer;
}


@media (max-width: 768px) {

    .main-content-tracker {
        margin-left: 45px;
        padding: 20px 15px;
    }

    .job-tabs {
        overflow-x: auto;
        white-space: nowrap;
        gap: 15px;
    }

    .tab {
        font-size: 14px;
        margin-right: 15px;
    }

    .board-wrapper {
        padding-top: 15px;
        gap: 10px;
    }

    .board-column {
        min-width: 220px;
        padding: 12px 6px;
    }

    .column-header {
        font-size: 14px;
    }

    .add-job,
    .board-column button {
        font-size: 13px;
        padding: 8px;
    }

}



@media (max-width: 480px) {

    .tab {
        font-size: 13px;
    }

    .board-column {
        min-width: 200px;
    }

    .board-header h1 {
        font-size: 18px;
    }

}